<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<title>{if !empty($sitem['aname'])}{$sitem['aname']}{else}有缘网{/if}</title>
<link href="../addons/jy_ppp/css/public_reset.css" rel="stylesheet" type="text/css"/>
<link href="../addons/jy_ppp/css/public.css" rel="stylesheet" type="text/css"/>
<link href="../addons/jy_ppp/css/option_box.css" rel="stylesheet" type="text/css"/>
<link href="../addons/jy_ppp/css/user_setting.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="top_blank">
</div>
<nav class="nav" >
<h2>详细资料</h2>
<div class="left" onclick="history.go(-1)">
    <i class="le_trg"></i>返回
</div>
<div class="right">
    <span id="search_sure" class="seach_sure">确定</span>
</div>
</nav>
<div class="content">
    <ul class="habit-list">
        <li class="user_mession">
        <label class="left">生活作息</label>
        <div class="right">
            <div class="select">
                <span class="value">
                {if empty($desc['lifestatus'])}
                    <span class="pink">请选择</span></span>
                {else}
                    {$desc['lifestatus']}</span>
                {/if}
                <i class="bot_trged"></i>
                <select id="sel_lifestatus" class="value_select">
                    <option value="0" style="display:none">请选择</option>
                    <option value="早睡早起" {if $desc['lifestatus']=='早睡早起'} selected="selected" {/if}>早睡早起</option>
                    <option value="偶尔熬夜" {if $desc['lifestatus']=='偶尔熬夜'} selected="selected" {/if}>偶尔熬夜</option>
                    <option value="经常熬夜" {if $desc['lifestatus']=='经常熬夜'} selected="selected" {/if}>经常熬夜</option>
                    <option value="经常懒散" {if $desc['lifestatus']=='经常懒散'} selected="selected" {/if}>经常懒散</option>
                    <option value="没有规律" {if $desc['lifestatus']=='没有规律'} selected="selected" {/if}>没有规律</option>
                </select>
            </div>
        </div>
        </li>
        <li class="user_mession">
        <label class="left">工作状态</label>
        <div class="right">
            <div class="select">
                <span class="value">
                {if empty($desc['jobstatus'])}
                    <span class="pink">请选择</span></span>
                {else}
                    {$desc['jobstatus']}</span>
                {/if}
                <i class="bot_trged"></i>
                <select id="sel_jobstatus" class="value_select">
                    <option value="0" style="display:none">请选择</option>
                    <option value="轻松稳定" {if $desc['jobstatus']=='轻松稳定'} selected="selected" {/if}>轻松稳定</option>
                    <option value="朝九晚五" {if $desc['jobstatus']=='朝九晚五'} selected="selected" {/if}>朝九晚五</option>
                    <option value="偶尔加班" {if $desc['jobstatus']=='偶尔加班'} selected="selected" {/if}>偶尔加班</option>
                    <option value="经常加班" {if $desc['jobstatus']=='经常加班'} selected="selected" {/if}>经常加班</option>
                    <option value="偶尔出差" {if $desc['jobstatus']=='偶尔出差'} selected="selected" {/if}>偶尔出差</option>
                    <option value="经常出差" {if $desc['jobstatus']=='经常出差'} selected="selected" {/if}>经常出差</option>
                    <option value="经常应酬" {if $desc['jobstatus']=='经常应酬'} selected="selected" {/if}>经常应酬</option>
                    <option value="工作时间自由" {if $desc['jobstatus']=='工作时间自由'} selected="selected" {/if}>工作时间自由</option>
                </select>
            </div>
        </div>
        </li>
        <li class="user_mession">
        <label class="left">公司类型</label>
        <div class="right">
            <div class="select">
                <span class="value">
                {if empty($desc['companytype'])}
                    <span class="pink">请选择</span></span>
                {else}
                    {$desc['companytype']}</span>
                {/if}
                <i class="bot_trged"></i>
                <select id="sel_companytype" class="value_select">
                    <option value="0" style="display:none">请选择</option>
                    <option value="政府机关" {if $desc['companytype']=='政府机关'} selected="selected" {/if}>政府机关</option>
                    <option value="事业单位" {if $desc['companytype']=='事业单位'} selected="selected" {/if}>事业单位</option>
                    <option value="世界500强" {if $desc['companytype']=='世界500强'} selected="selected" {/if}>世界500强</option>
                    <option value="上市公司" {if $desc['companytype']=='上市公司'} selected="selected" {/if}>上市公司</option>
                    <option value="国有企业" {if $desc['companytype']=='国有企业'} selected="selected" {/if}>国有企业</option>
                    <option value="外企单位" {if $desc['companytype']=='外企单位'} selected="selected" {/if}>外企单位</option>
                    <option value="私营企业" {if $desc['companytype']=='私营企业'} selected="selected" {/if}>私营企业</option>
                    <option value="自有公司" {if $desc['companytype']=='自有公司'} selected="selected" {/if}>自有公司</option>
                </select>
            </div>
        </div>
        </li>
        <li class="user_mession">
        <label class="left">是否吸烟</label>
        <div class="right">
            <div class="select">
                <span class="value">
                {if empty($desc['smoke'])}
                    <span class="pink">请选择</span></span>
                {else}
                    {$desc['smoke']}</span>
                {/if}
                <i class="bot_trged"></i>
                <select id="sel_smoke" class="value_select">
                    <option value="0" style="display:none">请选择</option>
                    <option value="不吸很反感" {if $desc['smoke']=='不吸很反感'} selected="selected" {/if}>不吸很反感</option>
                    <option value="不吸烟但不反感" {if $desc['smoke']=='不吸烟但不反感'} selected="selected" {/if}>不吸烟但不反感</option>
                    <option value="社交时偶尔吸" {if $desc['smoke']=='社交时偶尔吸'} selected="selected" {/if}>社交时偶尔吸</option>
                    <option value="经常吸烟" {if $desc['smoke']=='经常吸烟'} selected="selected" {/if}>经常吸烟</option>
                </select>
            </div>
        </div>
        </li>
        <li class="user_mession">
        <label class="left">父母情况</label>
        <div class="right">
            <div class="select">
                <span class="value">
                {if empty($desc['parentstatus'])}
                    <span class="pink">请选择</span></span>
                {else}
                    {$desc['parentstatus']}</span>
                {/if}
                <i class="bot_trged"></i>
                <select id="sel_parentstatus" class="value_select">
                    <option value="0" style="display:none">请选择</option>
                    <option value="父母健在" {if $desc['parentstatus']=='父母健在'} selected="selected" {/if}>父母健在</option>
                    <option value="单亲家庭" {if $desc['parentstatus']=='单亲家庭'} selected="selected" {/if}>单亲家庭</option>
                    <option value="父亲健在" {if $desc['parentstatus']=='父亲健在'} selected="selected" {/if}>父亲健在</option>
                    <option value="母亲健在" {if $desc['parentstatus']=='母亲健在'} selected="selected" {/if}>母亲健在</option>
                    <option value="父母均离世" {if $desc['parentstatus']=='父母均离世'} selected="selected" {/if}>父母均离世</option>
                </select>
            </div>
        </div>
        </li>
        <li class="user_mession">
        <label class="left">厨艺状况</label>
        <div class="right">
            <div class="select">
                <span class="value">
                {if empty($desc['chuyi'])}
                    <span class="pink">请选择</span></span>
                {else}
                    {$desc['chuyi']}</span>
                {/if}
                <i class="bot_trged"></i>
                <select id="sel_chuyi" class="value_select">
                    <option value="0" style="display:none">请选择</option>
                    <option value="色香味俱全" {if $desc['chuyi']=='色香味俱全'} selected="selected" {/if}>色香味俱全</option>
                    <option value="能做几样可口的小菜" {if $desc['chuyi']=='能做几样可口的小菜'} selected="selected" {/if}>能做几样可口的小菜</option>
                    <option value="不太会但愿为心爱的人学习" {if $desc['chuyi']=='不太会但愿为心爱的人学习'} selected="selected" {/if}>不太会但愿为心爱的人学习</option>
                </select>
            </div>
        </div>
        </li>
    </ul>
    <div class="option_box" style="margin-top: 10px">
        <div class="top">
            <h2>兴趣爱好</h2>
            <span class="unlimit"><span class="pink">可多选</span></span>
        </div>
        <ul class="four_list" id="interest">
            <li>
            <span {if !empty($a_arr) && in_array('上网',$a_arr)}class="pink"{/if} typeid="上网">上网</span>
            <span {if !empty($a_arr) && in_array('研究汽车',$a_arr)}class="pink"{/if} typeid="研究汽车">研究汽车</span>
            <span {if !empty($a_arr) && in_array('养小动物',$a_arr)}class="pink"{/if} typeid="养小动物">养小动物</span>
            <span {if !empty($a_arr) && in_array('摄影',$a_arr)}class="pink"{/if} typeid="摄影">摄影</span>
            </li>
            <li>
            <span {if !empty($a_arr) && in_array('看电影',$a_arr)}class="pink"{/if} typeid="看电影">看电影</span>
            <span {if !empty($a_arr) && in_array('听音乐',$a_arr)}class="pink"{/if} typeid="听音乐">听音乐</span>
            <span {if !empty($a_arr) && in_array('写作',$a_arr)}class="pink"{/if} typeid="写作">写作</span>
            <span {if !empty($a_arr) && in_array('购物',$a_arr)}class="pink"{/if} typeid="购物">购物</span>
            </li>
            <li>
            <span {if !empty($a_arr) && in_array('做手工艺',$a_arr)}class="pink"{/if} typeid="做手工艺">做手工艺</span>
            <span {if !empty($a_arr) && in_array('做园艺',$a_arr)}class="pink"{/if} typeid="做园艺">做园艺</span>
            <span {if !empty($a_arr) && in_array('跳舞',$a_arr)}class="pink"{/if} typeid="跳舞">跳舞</span>
            <span {if !empty($a_arr) && in_array('看展览',$a_arr)}class="pink"{/if} typeid="看展览">看展览</span>
            </li>
            <li>
            <span {if !empty($a_arr) && in_array('烹饪',$a_arr)}class="pink"{/if} typeid="烹饪">烹饪</span>
            <span {if !empty($a_arr) && in_array('读书',$a_arr)}class="pink"{/if} typeid="读书">读书</span>
            <span {if !empty($a_arr) && in_array('绘画',$a_arr)}class="pink"{/if} typeid="绘画">绘画</span>
            <span {if !empty($a_arr) && in_array('研究计算机',$a_arr)}class="pink"{/if} typeid="研究计算机">研究计算机</span>
            </li>
            <li>
            <span {if !empty($a_arr) && in_array('做运动',$a_arr)}class="pink"{/if} typeid="做运动">做运动</span>
            <span {if !empty($a_arr) && in_array('旅游',$a_arr)}class="pink"{/if} typeid="旅游">旅游</span>
            <span {if !empty($a_arr) && in_array('玩电子游戏',$a_arr)}class="pink"{/if} typeid="玩电子游戏">玩电子游戏</span>
            <span {if !empty($a_arr) && in_array('其他',$a_arr)}class="pink"{/if} typeid="其他">其他</span>
            </li>
        </ul>
    </div>
    <div class="option_box" style="margin-top: 10px">
        <div class="top">
            <h2>个人特征</h2>
            <span class="unlimit"><span class="pink">可多选</span></span>
        </div>
        <ul class="four_list" id="char">
            <li class="">
            <span {if !empty($t_arr) && in_array('孝顺',$t_arr)}class="pink"{/if} typeid="孝顺">孝顺</span>
            <span {if !empty($t_arr) && in_array('自我',$t_arr)}class="pink"{/if} typeid="自我">自我</span>
            <span {if !empty($t_arr) && in_array('有责任心',$t_arr)}class="pink"{/if} typeid="有责任心">有责任心</span>
            <span {if !empty($t_arr) && in_array('随和',$t_arr)}class="pink"{/if} typeid="随和">随和</span>
            </li>
            <li class="">
            <span {if !empty($t_arr) && in_array('憨厚',$t_arr)}class="pink"{/if} typeid="憨厚">憨厚</span>
            <span {if !empty($t_arr) && in_array('感性',$t_arr)}class="pink"{/if} typeid="感性">感性</span>
            <span {if !empty($t_arr) && in_array('好强',$t_arr)}class="pink"{/if} typeid="好强">好强</span>
            <span {if !empty($t_arr) && in_array('冷静',$t_arr)}class="pink"{/if} typeid="冷静">冷静</span>
            </li>
            <li class="">
            <span {if !empty($t_arr) && in_array('闷骚',$t_arr)}class="pink"{/if} typeid="闷骚">闷骚</span>
            <span {if !empty($t_arr) && in_array('幽默',$t_arr)}class="pink"{/if} typeid="幽默">幽默</span>
            <span {if !empty($t_arr) && in_array('坚强乐观',$t_arr)}class="pink"{/if} typeid="好动">好动</span>
            <span {if !empty($t_arr) && in_array('宅',$t_arr)}class="pink"{/if} typeid="宅">宅</span>
            </li>
            <li class="">
            <span {if !empty($t_arr) && in_array('体贴',$t_arr)}class="pink"{/if} typeid="体贴">体贴</span>
            <span {if !empty($t_arr) && in_array('勇敢',$t_arr)}class="pink"{/if} typeid="勇敢">勇敢</span>
            <span {if !empty($t_arr) && in_array('讲义气',$t_arr)}class="pink"{/if} typeid="讲义气">讲义气</span>
            <span {if !empty($t_arr) && in_array('正直',$t_arr)}class="pink"{/if} typeid="正直">正直</span>
            </li>
            <li class="">
            <span {if !empty($t_arr) && in_array('温柔',$t_arr)}class="pink"{/if} typeid="温柔">温柔</span>
            <span {if !empty($t_arr) && in_array('稳重',$t_arr)}class="pink"{/if} typeid="稳重">稳重</span>
            <span {if !empty($t_arr) && in_array('端庄可爱',$t_arr)}class="pink"{/if} typeid="端庄可爱">端庄可爱</span>
            <span {if !empty($t_arr) && in_array('特立独行',$t_arr)}class="pink"{/if} typeid="特立独行">特立独行</span>
            <!--span></span>
            <span></span-->
            </li>
            <li class="">
                <span {if !empty($t_arr) && in_array('知书达礼',$t_arr)}class="pink"{/if} typeid="知书达礼">知书达礼</span>
                <span {if !empty($t_arr) && in_array('蕙质兰心',$t_arr)}class="pink"{/if} typeid="蕙质兰心">蕙质兰心</span>
                <span {if !empty($t_arr) && in_array('讲义气',$t_arr)}class="pink"{/if} typeid="讲义气">讲义气</span>
                <span {if !empty($t_arr) && in_array('活泼开朗',$t_arr)}class="pink"{/if} typeid="活泼开朗">活泼开朗</span>
            </li>
        </ul>
    </div>
</div>
</body>
<script src="../addons/jy_ppp/js/zepto.min.js"></script>
<script src="../addons/jy_ppp/js/waiting.js"></script>
<script>
$(function () {
    $(".select select").bind("change",function(){
        var self = this;
        if ($(self).val() != 0) {
            var str = $(self).find("option:selected").text();
            $(self).siblings("span").text(str);
        }
    });
    $(".four_list span").bind("click",function(){
        if ($(this).hasClass("pink")) {
            $(this).removeClass("pink");
        } else {
            $(this).addClass("pink");
        }
    });
    $("#search_sure").bind("click",function(){
        var sel_lifestatus = $("#sel_lifestatus").val();
        var sel_jobstatus = $("#sel_jobstatus").val();
        var sel_companytype = $("#sel_companytype").val();
        var sel_smoke = $("#sel_smoke").val();
        var sel_parentstatus = $("#sel_parentstatus").val();
        var sel_chuyi = $("#sel_chuyi").val();
        var character = null;
        var inter = null;

        var arr = [];
        var arr1 = [];
        $.each($("#interest span"), function (index, item) {
            if ($(this).hasClass("pink")) {
                var t = $(this).attr("typeId")
                arr.push(t)
            }
        });
        $.each($("#char span"), function (index, item) {
            if ($(this).hasClass("pink")) {
                var t = $(this).attr("typeId")
                arr1.push(t)
            }
        });
        inter = arr.join(',');
        character = arr1.join(',');

        var param={lifestatus: sel_lifestatus, jobstatus:sel_jobstatus, companytype:sel_companytype, smoke:sel_smoke, parentstatus:sel_parentstatus, chuyi:sel_chuyi, aihao:inter, tezheng:character};
        // AJAX-----
        {if empty($_GPC['xuniid']) || $member['type']!=3}
            $.ajax({url: "{php echo $_W['siteroot'].'app/'.substr($this->createMobileUrl('desc',array('op'=>'add')),2);}", data: param, dataType: 'text', type: 'post', success: function (text) {
                if(text==1){
                    $.tips("保存成功!");
                    location.href = "{php echo $_W['siteroot'].'app/'.substr($this->createMobileUrl('geren'),2)}";
                }else{
                    alert(text);
                    $.tips("网络不畅，请稍候再试"+text)
                }
            }, error: function () {
                $.tips("网络不畅，请稍候再试");
                }
            })
        {else}
            $.ajax({url: "{php echo $_W['siteroot'].'app/'.substr($this->createMobileUrl('desc',array('op'=>'add','xuniid'=>$_GPC['xuniid'])),2);}", data: param, dataType: 'text', type: 'post', success: function (text) {
                if(text==1){
                    $.tips("保存成功!");
                    location.href = "{php echo $_W['siteroot'].'app/'.substr($this->createMobileUrl('geren',array('xuniid'=>$_GPC['xuniid'])),2)}";
                }else{
                    alert(text);
                    $.tips("网络不畅，请稍候再试"+text)
                }
            }, error: function () {
                $.tips("网络不畅，请稍候再试");
                }
            })
        {/if}
    });
});
</script>

{template 'inc/footer'}
</html>