<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="black" name="apple-mobile-web-app-status-bar-style" />
  <meta content="telephone=no" name="format-detection" />
  <title>{if !empty($sitem['aname'])}{$sitem['aname']}{else}有缘网{/if}</title>
  <link href="../addons/jy_ppp/css/public_reset.css" rel="stylesheet" type="text/css" />
  <link href="../addons/jy_ppp/css/public.css" rel="stylesheet" type="text/css" />
  <link href="../addons/jy_ppp/css/option_box.css" rel="stylesheet" type="text/css" />
  <link href="../addons/jy_ppp/css/user_setting.css" rel="stylesheet" type="text/css" />
 </head>
 <body>
  <div class="top_blank"></div>
  <nav class="nav" >
   <h2>择偶条件</h2>
   <div class="left" onclick="history.go(-1)">
    <i class="le_trg"></i>返回
   </div>
   <div class="right">
    <span id="save_btn" class="seach_sure">确定</span>
   </div>
  </nav>

<div class="content">

    {if $member['type'] == 4}
    <div class="option_box" style="margin-top: 10px">
        <div class="top">
            <h2>ID</h2>
            <input id="con_matchid" value="{$match['matchid']}"/>
        </div>
    </div>

    <div class="option_box" style="margin-top: 10px">
        <div class="top">
            <h2>性别</h2>
            <span class="unlimit"><span class="title pink" style="font-size: 14px;">{if $match['matchsex']==0}不限{/if}{if $match['matchsex']==1}男{/if}{if $match['matchsex']==2}女{/if}</span><i class="bot_trg"></i></span>
        </div>
        <ul class="hidden" data-type="matchsex">
            <li> <span data-value="0" {if $match['matchsex']==0}class="pink"{/if}>不限</span> <span data-value="1" {if $match['matchsex']==1}class="pink"{/if}>男</span> </li>
            <li> <span data-value="2" {if $match['matchsex']==2}class="pink"{/if}>女</span> <span></span> </li>
        </ul>
    </div>
    {/if}

    <div class="option_box" style="margin-top: 10px">
        <div class="top">
          <h2>年龄范围</h2>
          <div class="new_select select_multiple J_selectMultiple">
              <div class="J_select select">
                <span class="title">
                    <span class="pink J_selected">
                    {if empty($match['age'])}
                        不限
                    {else}
                        {$match['age']}岁
                    {/if}
                    </span>
                    <i class="bot_trged"></i>
                <span class="value_select">
                    <select id="match_age" data-flage="岁" data-isLeft="1"  class="J_selectItem value_select">
                       <option value="0" style="display:none">不限</option>
                        <?php for ($ageLoop=20; $ageLoop <= 47 ; $ageLoop++) {
                        ?> <option value="{$ageLoop}" {if $match['age']==$ageLoop} selected="selected" {/if}>{$ageLoop}岁 </option><?php
                    } ?>
                   </select>
                </span>
                </span>
              </div>
              <!--<div class="range_flage">&#45;&#45;&#45;&#45;</div>-->

              <div class="J_select select">
                <span class="title">
                    <span class="pink J_selected">
                    {if empty($match['agemax'])}
                        不限
                    {else}
                        {$match['agemax']}岁
                    {/if}
                    </span>
                    <i class="bot_trged"></i>
                <span class="value_select">
                    <select id="match_agemax" data-flage="岁" data-isLeft="0" class="J_selectItem value_select">
                       <option value="0" style="display:none">不限</option>
                        <?php for ($agemaxLoop=20; $agemaxLoop <=47 ; $agemaxLoop++) {
                        ?> <option value="{$agemaxLoop}" {if $match['agemax']==$agemaxLoop} selected="selected" {/if}>{$agemaxLoop}岁 </option><?php
                    } ?>
                   </select>
                </span>
                </span>
              </div>
          </div>
      </div>
    </div>

    <div class="option_box" style="margin-top: 10px">
        <div class="top">
            <h2>婚姻状况</h2>
            <span class="unlimit"><span class="title pink" style="font-size: 14px;">
                    {if $match['marriage']==0}不限{/if}
                    {if $match['marriage']==1}未婚{/if}
                    {if $match['marriage']==2}离异无孩{/if}
                    {if $match['marriage']==3}离异有孩{/if}
                    {if $match['marriage']==4}丧偶{/if}
                    {if $match['marriage']==5}未婚或离异无孩{/if}
                </span><i class="bot_trg"></i></span>
        </div>
        <ul class="hidden" data-type="marriage">
            <li>
                <span data-value="0" {if $match['marriage']==0}class="pink"{/if}>不限</span>
                <span data-value="1" {if $match['marriage']==1}class="pink"{/if}>未婚</span>
            </li>
            <li>
                <span data-value="2" {if $match['marriage']==2}class="pink"{/if}>离异无孩</span>
                <span data-value="3" {if $match['marriage']==3}class="pink"{/if}>离异有孩</span>
            </li>
            <li>
                <span data-value="4" {if $match['marriage']==4}class="pink"{/if}>丧偶</span>
                <span data-value="5" {if $match['marriage']==5}class="pink"{/if}>未婚或离异无孩</span>
            </li>
        </ul>
    </div>

   <div class="option_box" style="margin-top: 10px">
        <div class="top">
     <h2>身高范围</h2>
     <!--span class="unlimit"><span class="title pink">{if $match['height']==0}不限{/if}{if $match['height']==1}160cm以下{/if}{if $match['height']==2}161-165cm{/if}{if $match['height']==3}166-170cm{/if}{if $match['height']==4}170以上{/if}</span><i class="bot_trg"></i></span-->
        <!--div class="unlimit new_select"-->
        <div class="new_select select_multiple J_selectMultiple">
            <div class="J_select select">
                <span class="title">
                    <span class="pink J_selected">
                        {if empty($match['height'])}
                            不限
                        {else}
                            {$match['height']}cm
                        {/if}
                    </span>
                    <i class="bot_trged"></i>

                    <span class="value_select">
                        <!--<select id="match_height"  onchange="match_height_change(this.value)" class="J_selectItem value_select">-->
                        <select id="match_height" data-flage="cm" data-isLeft="1" class="J_selectItem value_select">
                           <option value="0" style="display:none">不限</option>
                            <?php for ($i=140; $i <221 ; $i++) {
                            ?> <option value="{$i}" {if $match['height']==$i} selected="selected" {/if}>{$i}cm </option><?php
                        } ?>
                       </select>
                    </span>
                </span>
            </div>
            <!--<div class="range_flage">&#45;&#45;&#45;&#45;</div>-->
            <div class="J_select select">
                <span class="title">
                <span class="pink J_selected">
                    {if empty($match['heightmax'])}
                        不限
                    {else}
                        {$match['heightmax']}cm
                    {/if}
                </span>
                <i class="bot_trged"></i>
                <span class="value_select">
                    <select id="match_heightmax" data-flage="cm"  data-isLeft="0" class="J_selectItem value_select">
                       <option value="0" style="display:none">不限</option>
                        <?php for ($k=140; $k <221 ; $k++) {
                        ?> <option value="{$k}" {if $match['heightmax']==$k} selected="selected" {/if}>{$k}cm </option><?php
                    } ?>
                   </select>
                </span>
                </span>
            </div>
        </div>
    </div>
   </div>

   <div class="option_box" style="margin-top: 10px">
        <div class="top">
     <h2>最低学历</h2>
     <span class="unlimit"><span class="title pink" style="font-size: 14px;">{if $match['education']==0}不限{/if}{if $match['education']==1}中专及以上{/if}{if $match['education']==2}大专及以上{/if}{if $match['education']==3}本科及以上{/if}{if $match['education']==4}硕士及以上{/if}{if $match['education']==5}博士{/if}</span><i class="bot_trg"></i></span>
    </div>
        <ul class="hidden" data-type="edu">
     <li> <span data-value="0" {if $match['education']==0}class="pink"{/if}>不限</span> <span data-value="1" {if $match['education']==1}class="pink"{/if}>中专及以上</span> </li>
     <li> <span data-value="2" {if $match['education']==2}class="pink"{/if}>大专及以上</span> <span data-value="3" {if $match['education']==3}class="pink"{/if}>本科及以上</span> </li>
     <li> <span data-value="4" {if $match['education']==4}class="pink"{/if}>硕士及以上</span> <span data-value="5" {if $match['education']==5}class="pink"{/if}>博士</span> </li>
    </ul>
   </div>

  <div class="option_box" style="margin-top: 10px">
      <div class="top">
          <h2>年收入范围</h2>
          <div class="new_select select_multiple J_selectMultiple">
              <div class="J_select select">
                <span class="title">
                    <span class="pink J_selected">
                        {if empty($match['income'])}
                            0万
                        {else}
                            {$match['income']}万
                        {/if}
                    </span>
                    <i class="bot_trged"></i>
                <span class="value_select">

                    <!--<select id="match_income"  data-flage="万" class="J_selectItem value_select">
                       <option value="0" style="display:none">不限</option>

                        <?php /*for ($incomeLoop=0; $incomeLoop <= 100 ; $incomeLoop++) {
                        */?> <option value="{$incomeLoop}" {if $match['income']==$incomeLoop} selected="selected" {/if}>{$incomeLoop}万 </option><?php
/*                    } */?>
                   </select>-->

                    <select id="match_income"  data-flage="万" data-isLeft="1" class="J_selectItem value_select">
                       <!--option value="0" style="display:none">不限</option-->

                        <?php for ($incomeLoop=0; $incomeLoop < $con_income_len ; $incomeLoop++) {
                            ?> <option value="{$con_income[$incomeLoop]}" {if $match['income']==$con_income[$incomeLoop]} selected="selected" {/if}>{$con_income[$incomeLoop]}万 </option><?php
                        } ?>
                   </select>

                </span>
                </span>
              </div>
              <!--<div class="range_flage">&#45;&#45;&#45;&#45;</div>-->
              <div class="J_select select">
                <span class="title">
                    <span class="pink J_selected">
                        {if empty($match['incomemax'])}
                            不限
                        {else}
                            {$match['incomemax']}万
                        {/if}
                    </span>
                    <i class="bot_trged"></i>
                <span class="value_select">
                    <select id="match_incomemax"  data-flage="万" data-isLeft="0" class="J_selectItem value_select">
                       <!--option value="0" style="display:none">不限</option-->
                        <?php for ($incomemaxLoop=0; $incomemaxLoop < $con_income_len ; $incomemaxLoop++) {
                        ?> <option value="{$con_maxIncome[$incomemaxLoop]}" {if $match['incomemax']==$con_maxIncome[$incomemaxLoop]} selected="selected" {/if}>{$con_maxIncome[$incomemaxLoop]}万 </option><?php
                    } ?>
                   </select>
                </span>
                </span>
              </div>
          </div>
      </div>
  </div>


  <div class="option_box" style="margin-top: 10px">
    <div class="top">
     <h2>居住地</h2>
        <div id="live" class="live_island" >
            <div class="J_liveSelect select">
                <span class="value" id="province">
                    {if empty($match['province'])}
                            江苏
                        {else}
                            {$match['province']}
                        {/if}
                </span>
                <i class="bot_trged"></i>
                <select id="live_province" class="value_select">
                </select>
            </div>
            <div class="J_liveSelect select fixed_width">
                <span class="value" id="city">
                </span>
                <i class="bot_trged"></i>
                <select id="live_city" class="value_select">
                </select>
            </div>
        </div>
    </div>
   </div>


</div>
  <!--<input type="hidden" id="con_age" value="{$match['age']}" />-->
  <!--<input type="hidden" id="con_agemax" value="{$match['agemax']}" />-->
  <input type="hidden" id="con_matchsex" value="{$match['matchsex']}">
  <input type="hidden" id="con_age" value="{$match['age']},{$match['agemax']}">
  <input type="hidden" id="con_marriage" value="{$match['marriage']}" />
  <input type="hidden" id="con_height"  value="{$match['height']},{$match['heightmax']}"/>
  <!--<input type="hidden" id="con_height"  value="{$match['height']}"/>-->
  <!--<input type="hidden" id="con_heightmax"  value="{$match['heightmax']}"/>-->
  <input type="hidden" id="con_income" value="{$match['income']},{$match['incomemax']}" />
  <!--<input type="hidden" id="con_incomemax" value="{$match['incomemax']}" />-->
  <input type="hidden" id="con_province" value="{$live_province}" />
  <input type="hidden" id="con_edu" value="{$match['education']}" />
  <input type="hidden" id="con_girlCareId" value="" />

<!--  <script src="../addons/jy_ppp/js/zepto.min.js"></script>-->
  <script src="../addons/jy_ppp/js/jquery-1.7.1.min.js"></script>
  <script src="../addons/jy_ppp/js/public.js"></script>
  <script src="../addons/jy_ppp/js/waiting.js"></script>
  <script src="../addons/jy_ppp/js/set_match.js"></script>
  <script src="../addons/jy_ppp/js/area_id.js"></script>

  <script type="text/javascript">
console.log(area_array);
console.log(sub_array);
$(function () {

    var _pro = {empty($match['province'])} ? 32 : {$match['province']} ;
    var _city = {empty($match['city'])} ? 3201 : {$match['city']};

    {if $match['province'] == 0}
         _pro = 32

    {/if}

        {if $match['city'] == 0}
         _city = 3201
        {/if}

//    $("#province").html(area_array[{$match['province']}]);
    $("#province").html(area_array[_pro]);
//    $("#city").html(sub_array[{$match['province']}][{$match['city']}]);
    $("#city").html(sub_array[_pro][_city]);
    $("#live_province").empty();
    {if empty($match['province'])}
    for(var i in area_array){
        $("#live_province").append('<option value="'+ i+'">'+ area_array[i]+'</option>');
    }
    {else}
    for(var i in area_array){
        if({$match['province']}==i)
        {
            $("#live_province").append('<option value="'+ i+'" selected>'+ area_array[i]+'</option>');
        }
        else
        {
            $("#live_province").append('<option value="'+ i+'">'+ area_array[i]+'</option>');
        }
    }
    {/if}

    $("#live_city").empty();
    {if empty($match['city'])}
    for(var i in sub_array[{$match['province']}]){
        $("#live_city").append('<option value="'+ i+'">'+ sub_array[{$match['province']}][i]+'</option>');
    }
    {else}
    for(var i in sub_array[{$match['province']}]){
        if({$match['city']}==i)
        {
            $("#live_city").append('<option value="'+ i+'" selected>'+ sub_array[{$match['province']}][i]+'</option>');
        }
        else
        {
            $("#live_city").append('<option value="'+ i+'">'+ sub_array[{$match['province']}][i]+'</option>');
        }
    }
    {/if}


    $(".J_liveSelect select").bind("change",function(){
        var self = this;
        if ($(self).val() != 0) {
            var str = $(self).find("option:selected").text();
            $(self).siblings("span").text(str);
        }
    });

    $("#live_province").bind("change",function(){
        var p=$("#live select").eq(0).val();
        $("#live_city").empty();
        var temp=1;
        for(var i in sub_array[p]){
            if(temp==1)
            {
                $("#city").html(sub_array[p][i]);
                temp++;
            }
            $("#live_city").append('<option value="'+ i+'">'+ sub_array[p][i]+'</option>');
        }
    });
});



$("#save_btn").bind("click",function(){

    var con_matchsexVal=$("#con_matchsex").val();
    var con_matchidVal=$("#con_matchid").val();
    var con_ageVal=$("#con_age").val().split(',')[0];
    var con_agemaxVal=$("#con_age").val().split(',')[1];
    var con_marriageVal = $("#con_marriage").val() || 0;
//    var con_marriageVal = 0;
    var con_heightVal=$("#con_height").val().split(',')[0];
    var con_heightmaxVal=$("#con_height").val().split(',')[1];
    var con_incomeVal=$("#con_income").val().split(',')[0];
    var con_incomemaxVal=$("#con_income").val().split(',')[1];
//    var con_provinceVal=$("#con_province").val();
    var con_eduVal=$("#con_edu").val();
    var con_girlCareIdVal=$("#con_girlCareId").val();
    var con_provinceVal=$("#live select").eq(0).val();
    var con_cityVal=$("#live select").eq(1).val();

   //alert(con_marriageVal);
    //alert(city);

    if (con_heightVal > con_heightmaxVal) {
        alert("亲，身高的范围选择错误");
    }
    var param = {
        con_matchsex:con_matchsexVal,
        con_matchid: con_matchidVal,
        con_age: con_ageVal,
        con_agemax: con_agemaxVal,
        con_marriage:con_marriageVal,
        con_height:con_heightVal,
        con_heightmax:con_heightmaxVal,
        con_income:con_incomeVal,
        con_incomemax:con_incomemaxVal,
        con_province:con_provinceVal,
        con_city:con_cityVal,
        con_edu:con_eduVal,
        con_girlCareId:con_girlCareIdVal
    };


    // ajax-----
    $.ajax({url: "{php echo $_W['siteroot'].'app/'.substr($this->createMobileUrl('match',array('op'=>'add')),2);}", data: param, dataType: 'text', type: 'post', success: function (data) {
        if (data==1) {
            $.tips("保存成功");
            location.href="{php echo $_W['siteroot'].'app/'.substr($this->createMobileUrl('index'),2)}"
        }
        else
        {
          $.tips("网络异常，请稍后再试");
        }
    }, error: function () {
        $.tips("网络异常，请稍后再试");
    }
    });
});
$(".top").bind("click",function(event){
  // if(event.target == this){
    Match.toggle($(this));
  // }
});
$("[data-value]").bind("click",function(){
  var $this = $(this),
      type=$this.closest("[data-type]").data("type"),
      value=$this.data('value');

    if (type == 'matchsex'){
        //Match.changeInterest(value);
        $('#con_matchsex').val(value);
    }
    else if(type=='age'){
        Match.changeAge(value);
    }else if(type=='height'){
        Match.changeHeight(value);
    }else if(type=='edu'){
        Match.changeEducation(value);
        $('#con_edu').val(value);
    }else if(type=='salary'){
        Match.changeSalary(value);
    }else if(type=='province'){
        Match.changeProvince(value);
    }else if(type=='girlCare'){
        Match.changeInterest(value)
    }else if(type == 'marriage'){
        Match.changeInterest(value);
        $('#con_marriage').val(value);
    }

    Match.changeEvent($this);
});

function formatVal(ele){

    var _value = parseInt($(ele).val());
    var _isLeft = Number($(ele).attr('data-isLeft'));
    var _array = [];
    var J_sibling = $(ele).closest('.J_select').siblings('.J_select');
    var _sibVal = parseInt(J_sibling.find('.J_selectItem').val());
    var _flage = $(ele).attr('data-flage');

    if(_isLeft){
        if(_value <= _sibVal){
            _array.push(_value);
            _array.push(_sibVal);

            $(ele).closest('.J_select').find('.J_selected').html(_value+_flage);
        }else{
           $.tips('最小值不能大于最大值','error');
            $(ele).find('option').removeAttr('selected');
            $(ele).find('option[value='+ _sibVal +']').attr('selected',true);
            $(ele).closest('.J_select').find('.J_selected').html(_sibVal+_flage);
            _array.push(_sibVal);
            _array.push(_sibVal);

        }

        if(_flage == '万' && !_array[0]){
            _value = '不限';
            _flage = '';
            $(ele).closest('.J_select').find('.J_selected').html(_value+_flage);
        }

    }else{
        if(_value >= _sibVal){
            _array.push(_value);
            _array.push(_sibVal);
            $(ele).closest('.J_select').find('.J_selected').html(_value+_flage);
        }else{
           $.tips('最大值不能小于最小值','error');
            $(ele).find('option').removeAttr('selected');
            $(ele).find('option[value='+ _sibVal +']').attr('selected',true);
            $(ele).closest('.J_select').find('.J_selected').html(_sibVal+_flage);
            _array.push(_sibVal);
            _array.push(_sibVal);

        }
        if(_flage == '万' && !_array[0] && !_array[1]){
            _value = '不限';
            _flage = '';
            $(ele).closest('.J_select').find('.J_selected').html(_value+_flage);
        }

    }



    var _valStr = Math.min.apply(null,_array) + ',' +  Math.max.apply(null,_array);
    return _valStr;
}

$('.J_selectItem').on('change',function (e) {
    var _value = $(e.currentTarget).val();
    var _unit  = $(e.currentTarget).attr('data-flage');


    var J_value = $(e.currentTarget).closest('.J_select').find('.J_selected');

    switch(_unit){
        case '岁':
            $('#con_age').val(formatVal(e.currentTarget));
            break;
        case 'cm':
            $('#con_height').val(formatVal(e.currentTarget));
            break;
        case '万':
            $('#con_income').val(formatVal(e.currentTarget));
            break;
    }

//    if(_unit == '万' && !Number(_value)){
//        _value = '不限';
//        _unit = '';
//    }

//    J_value.html(_value + _unit);
})




  </script>

{template 'inc/footer'}
 </body>
</html>