<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>{if !empty($sitem['aname'])}{$sitem['aname']}{else}有缘网{/if}</title>
    <link href="../addons/jy_ppp/css/public_reset.css" rel="stylesheet"/>
    <link href="../addons/jy_ppp/css/public.css" rel="stylesheet"/>
    <link href="../addons/jy_ppp/css/first_sight_batch.css" rel="stylesheet"/>
    <script src="../addons/jy_ppp/js/zepto.min.js"></script>
</head>
<body>
<header class="head">
    <div class="portrait">
        {if !empty($member['avatar'])}
            <img width="48" height="48" src="{php echo tomedia($member['avatar'])}"/>
        {else}
            {if $member['sex']==1}
                <img style="width: 48;height: 48;border-radius: 3px;" src="../addons/jy_ppp/images/boy.png"/>
            {else}
                <img style="width: 48;height: 48;border-radius: 3px;" src="../addons/jy_ppp/images/girl.png"/>
            {/if}
        {/if}
    </div>
    <div class="wel">
        {php $sjnum=rand(200,350);}
        {if $member['sex']==1}
        <P class="pink">您附近3公里内有{$sjnum}位美女在线</P>
        {else}
        <P class="pink">您附近3公里内有{$sjnum}位帅哥在线</P>
        {/if}
        {if $member['sex']==1}
        <p>快给她们打招呼吧！</p>
        {else}
        <p>快给他们打招呼吧！</p>
        {/if}
    </div>
</header>
<section class="content">
    <div class="list">
        {php $now=time();}
        {loop $tuijian $t}
        <div class="list_user" data-id="{$t['id']}">
            <a class="gray">
                <div class="left">
                    {if !empty($t['avatar'])}
                        <img width="48" height="48" src="{php echo tomedia($t['avatar'])}"/>
                    {else}
                        {if $t['sex']==1}
                            <img style="width: 48;height: 48;border-radius: 3px;" src="../addons/jy_ppp/images/boy.png"/>
                        {else}
                            <img style="width: 48;height: 48;border-radius: 3px;" src="../addons/jy_ppp/images/girl.png"/>
                        {/if}
                    {/if}
                </div>
                <div class="center">
                    <dl>
                        <dt>{$t['nicheng']}</dt>
                        <dd style="background-color:#FFC125;color:#fff;border:none">
                        {if !empty($moni_province) && $t['type2']==3}
                            {$moni_province}
                        {else}
                            {if empty($sitem['user_addr'])}
                                {if !empty($t['city'])}
                                    {$province[$t['province']]}{$sub_array[$t['province']][$t['city']]}
                                {else}
                                    {$province[$t['province']]}
                                {/if}
                            {else}
                                {if $sitem['user_addr']==2}
                                    {if !empty($t['city'])}
                                        {$sub_array[$t['province']][$t['city']]}
                                    {else}
                                        {$province[$t['province']]}
                                    {/if}
                                {else}
                                    {$province[$t['province']]}
                                {/if}
                            {/if}
                        {/if}</dd>
                            {if !empty($t['brith'])}
                {php $birthday=$t['brith'];$month=0;if(date('m', $now)>date('m', $birthday))$month=1;if(date('m', $now)==date('m', $birthday))if(date('d', $now)>=date('d', $birthday))$month=1;$nianlin=date('Y', $now)-date('Y', $birthday)+$month;}
                            <dd style="background-color:#FFB6C1;color:#fff;border:none">{$nianlin}岁</dd>{/if}
                            {if !empty($t['height'])}
                            <dd style="background-color:#87CEFA;color:#fff;border:none">{$t['height']}cm</dd>
                            {/if}
                    </dl>
                </div>
                <div class="right" style="font-size:13px;color:#999">
                <dd style="float: left;margin-top:3px;margin-right:4px">1分钟前</dd><dd style="background-color:#32CD32;color:#fff;border:none;float: left;padding: 2px 3px;margin: 0 3px 0 0;border-radius: 2px;">在线</dd>
                </div>
            </a>
        </div>
        {/loop}
    </div>
    {if $member['sex']==1}
    <button class="tell" type="button" id="tellId">告诉她们，我上线了</button>
    {else}
    <button class="tell" type="button" id="tellId">告诉他们，我上线了</button>
    {/if}
</section>
</body>
<script type="text/javascript">
    $("#tellId").bind("click",function(){
        var str = "";
        for(var i=0;i<$(".list_user").length;++i){
            str += $(".list_user").eq(i).data("id")+",";
        }
        $.post("{php echo $_W['siteroot'].'app/'.substr($this->createMobileUrl('zhaohu',array('op'=>'zhaohu')),2)}"+"&str="+str,function(data){
            if(data==1)
            {
                window.location.href="{php echo $_W['siteroot'].'app/'.substr($this->createMobileUrl($foo),2)}";
            }
            else
            {
                alert("网络出错，请重试!"+data);
            }
        });
    });
</script>
{template 'inc/footer'}
</html>