{template 'common/header'}
{template 'web/nav'}

<div class="main">
	<form action="" method="post" class="form-horizontal form"
		enctype="multipart/form-data">
		<input type="hidden" name="id" value="{$item['id']}" />


		<div class="panel panel-default">
			<div class="panel-heading">
				基本设置
			</div>
			<div class="panel-body">


				<!-- <div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
					<div class="col-sm-7 col-xs-12">
						<a onclick="return confirm('您确定需要一键恢复系统初始状态吗？恢复后将删除所有用户及该系统所有相关数据!'); return false;" href="{php echo $this->CreateWebUrl('setting',array('op'=>'huifu'))}"><span class="btn btn-danger" >一键恢复系统初始状态</span></a>
					</div>
				</div>  -->


				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
					<div class="col-sm-7 col-xs-12">
						<a onclick="return confirm('您确定需要一键删除5天前的消息记录吗？'); return false;" href="{php echo $this->CreateWebUrl('setting',array('op'=>'delxx'))}"><span class="btn btn-danger" >删除5天前消息数据</span></a>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">系统名称</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="aname" class="form-control" value="{$item['aname']}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享标题</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="sharetitle" class="form-control"
							   value="{$item['sharetitle']}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享描述</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="sharedesc" class="form-control"
							   value="{$item['sharedesc']}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享logo</label>
					<div class="col-sm-7 col-xs-12">
						{php echo tpl_form_field_image('sharelogo', tomedia($item['sharelogo']));}
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">注册页背景图</label>
					<div class="col-sm-7 col-xs-12">
						{php echo tpl_form_field_image('zhuce_bg', tomedia($item['zhuce_bg']));}
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">注册页宣传语</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="zhuce_text" class="form-control" value="{$item['zhuce_text']}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">管理员头像</label>
					<div class="col-sm-7 col-xs-12">
						{php echo tpl_form_field_image('adminthumb', tomedia($item['adminthumb']));}
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">短信平台</label>
					<div class="col-sm-7 col-xs-12">
						<label for="enabled1" class="radio-inline"><input type="radio" name="sms_type" value="0" id="enabled1" onclick="sms_change()" {if empty($item['sms_type']) || $item['sms_type'] == 0}checked="true"{/if} /> 网讯</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <label for="enabled2" class="radio-inline"><input type="radio" name="sms_type" value="1" id="enabled2" onclick="sms_change1()" {if !empty($item['sms_type']) && $item['sms_type'] == 1}checked="true"{/if} /> 互亿无线</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <label for="enabled4" class="radio-inline"><input type="radio" name="sms_type" value="3" id="enabled4" onclick="sms_change()" {if !empty($item['sms_type']) && $item['sms_type'] == 3}checked="true"{/if} /> 阿里大鱼</label>
	                    <label for="enabled3" class="radio-inline"><input type="radio" name="sms_type" value="2" id="enabled3" onclick="sms_change2()" {if !empty($item['sms_type']) && $item['sms_type'] == 2}checked="true"{/if} /> 无需</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <br>
	                   	<span>网讯接口为(http://120.24.55.238/msg/index.jsp) ; 互亿无线接口为(http://106.ihuyi.cn) ;阿里大鱼接口为(https://www.alidayu.com) ; 无需时则没有手机认证</span>
					</div>
				</div>

				<div class="form-group" id="sms_sign">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">短信平台签名</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="sms_sign" class="form-control"
							   value="{$item['sms_sign']}" />
					</div>
				</div>

				<div class="form-group" id="sms_product">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">短信平台产品名/模板ID</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="sms_product" class="form-control"
							   value="{$item['sms_product']}" />
					</div>
				</div>

				<div class="form-group" id="sms_username">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">短信平台用户名</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="sms_username" class="form-control"
							   value="{$item['sms_username']}" />
					</div>
				</div>

				<div class="form-group" id="sms_pwd">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">短信平台密码</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="sms_pwd" class="form-control"
							   value="{$item['sms_pwd']}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">版权文字</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="copyright" class="form-control" value="{$item['copyright']}" />
						<span>不填则无版权显示</span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">版权跳转url</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="copyrighturl" class="form-control" value="{$item['copyrighturl']}" />
						<span>不填则不跳转</span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">虚拟货币名称</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="doubi" class="form-control"
							   value="{$item['doubi']}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">虚拟货币单位</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="unit" class="form-control"
							   value="{$item['unit']}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">开通与某个用户聊天消耗的货币</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="chat" class="form-control"
							   value="{$item['chat']}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">身份认证消耗的货币</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="idcard" class="form-control"
							   value="{$item['idcard']}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">用户居住地设定</label>
					<div class="col-sm-7 col-xs-12">
						<label for="enabled49" class="checkbox-inline"><input type="radio" name="address" value="0" id="enabled49"  {if empty($item['address'])} checked="true" {/if} /> 根据IP获取</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <label for="enabled50" class="checkbox-inline"><input type="radio" name="address" value="1" id="enabled50" {if !empty($item['address']) && $item['address']==1} checked="true" {/if}  /> 默认居住地</label>
	                    &nbsp;&nbsp;&nbsp;
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">默认居住地</label>
					<div class="col-sm-2 col-xs-3">
						<select name="province" id="live_province" class="form-control" >
						</select>
					</div>
					<div class="col-sm-2 col-xs-3">
						<select name="city" id="live_city" class="form-control"></select>
					</div>
					<label>选择了省未选择市的则默认为那个省的省会,若通过ip地址未能获取，则直接显示是默认居住地</label>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">客服电话</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="tel" class="form-control"
							   value="{$item['tel']}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">客服工作时间</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="kftime" class="form-control"
							   value="{$item['kftime']}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">头像是否需要审核</label>
					<div class="col-sm-7 col-xs-12">
						<label for="enabled51" class="checkbox-inline"><input type="radio" name="thumb" value="0" id="enabled51"  {if empty($item['thumb'])} checked="true" {/if} /> 无需审核</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <label for="enabled52" class="checkbox-inline"><input type="radio" name="thumb" value="1" id="enabled52" {if !empty($item['thumb']) && $item['thumb']==1} checked="true" {/if}  /> 需要审核</label>
	                    &nbsp;&nbsp;&nbsp;
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">注册须知</label>
					<div class="col-sm-7 col-xs-12">
						<textarea name="rule" id="rule" class="form-control" rows="10">{$item['rule']}</textarea>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">客服消息提醒时间间隔(分钟)</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="jiange" class="form-control"
							   value="{$item['jiange']}" />
							   <label>避免被用户举报客服接口骚扰太频繁，建议设置时间间隔</label>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">客服消息提醒上限次数</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="shangxian" class="form-control"
							   value="{$item['shangxian']}" />
						<label>避免被用户举报客服接口骚扰太频繁，建议设置上限次数</label>
					</div>
				</div>
				{if empty($item['kjmsg_num'])}{php $item['kjmsg_num']=10}{/if}
				{if empty($item['kjmsg_jiange'])}{php $item['kjmsg_jiange']=60}{/if}
				{if empty($item['kjmsg_jiange2'])}{php $item['kjmsg_jiange2']=80}{/if}

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">快捷回复时消息的上限</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="kjmsg_num" class="form-control"
							   value="{$item['kjmsg_num']}" />
						<label>若有太多虚拟用户，短时间内发送太多消息，会很假，默认值为10</label>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">自动消息时间间隔</label>
					<div class="col-sm-7 col-xs-12">
						<div class="input-group">
							<div class="input-group-addon">不小于</div>
							<input type="text" name="kjmsg_jiange" class="form-control" value="{$item['kjmsg_jiange']}">
							<div class="input-group-addon">秒</div>
							<div class="input-group-addon">不大于</div>
							<input type="text" name="kjmsg_jiange2" class="form-control" value="{$item['kjmsg_jiange2']}">
							<div class="input-group-addon">秒</div>
						</div>
						<div class="help-block">时间单位为秒，默认间隔为60秒至80秒</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">用户发信给虚拟用户第一条消息自动回复时间间隔</label>
					<div class="col-sm-7 col-xs-12">
						<div class="input-group">
							<div class="input-group-addon">不小于</div>
							<input type="text" name="kjmsg_jiange3" class="form-control" value="{$item['kjmsg_jiange3']}">
							<div class="input-group-addon">秒</div>
							<div class="input-group-addon">不大于</div>
							<input type="text" name="kjmsg_jiange4" class="form-control" value="{$item['kjmsg_jiange4']}">
							<div class="input-group-addon">秒</div>
						</div>
						<div class="help-block">该时间为用户发信给虚拟用户，虚拟用户回复用户的第一条信息时间间隔，时间单位为秒，默认间隔为60秒至80秒</div>
					</div>
				</div>


				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">百度地图APP KEY</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="bd_ak" class="form-control"
							   value="{$item['bd_ak']}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">虚拟用户模拟定位</label>
					<div class="col-sm-7 col-xs-12">
						<label for="enabled41" class="checkbox-inline"><input type="radio" name="moni" value="0" id="enabled41"  {if empty($item['moni'])} checked="true" {/if} /> 关闭</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <label for="enabled42" class="checkbox-inline"><input type="radio" name="moni" value="1" id="enabled42" {if !empty($item['moni']) && $item['moni']==1} checked="true" {/if}  /> 开启</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <br>
	                    <label>开启后即可使得所有虚拟用户的定位与用户的位置在一个城市(仅对微信段有效)</label>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">首页ui风格</label>
					<div class="col-sm-7 col-xs-12">
						<span class="thumbnail late1" style="text-align:center;width:140px;display:inline-block;cursor:pointer;margin-right:20px" title="列表型">
					      <img  class="imgtip" style="height:100px;overflow:hidden;" src="../addons/jy_ppp/images/uilist.png" bigimg="../addons/jy_ppp/images/uilist.png" alt="列表型">
					        <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
					         列表型
					        </span>
					      <div class="radio">
					        <label>
					          <input type="radio" class="theRadio" name="indexui" value="0" {if empty($item['indexui'])} checked="checked"{/if}>
					          选择
					        </label>
					      </div>
					    </span>

					    <span class="thumbnail late1" style="text-align:center;width:140px;display:inline-block;cursor:pointer" title="大图型">
					      <img  class="imgtip" style="height:100px;overflow:hidden;" src="../addons/jy_ppp/images/uidatu.jpg" bigimg="../addons/jy_ppp/images/uidatu.jpg" alt="大图型">
					        <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
					         大图型
					        </span>
					      <div class="radio">
					        <label>
					          <input type="radio" class="theRadio" name="indexui" value="1" {if !empty($item['indexui']) && $item['indexui']==1} checked="checked"{/if}>
					          选择
					        </label>
					      </div>
					    </span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">详情页ui风格</label>
					<div class="col-sm-7 col-xs-12">
						<span class="thumbnail late2" style="text-align:center;width:140px;display:inline-block;cursor:pointer;margin-right:20px" title="风格一">
					      <img  class="imgtip" style="height:100px;overflow:hidden;" src="../addons/jy_ppp/images/detailui1.png" bigimg="../addons/jy_ppp/images/detailui1.png" alt="风格一">
					        <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
					         风格一
					        </span>
					      <div class="radio">
					        <label>
					          <input type="radio" class="theRadio2" name="detail_style" value="0" {if empty($item['detail_style'])} checked="checked"{/if}>
					          选择
					        </label>
					      </div>
					    </span>

					    <span class="thumbnail late2" style="text-align:center;width:140px;display:inline-block;cursor:pointer" title="风格二">
					      <img  class="imgtip" style="height:100px;overflow:hidden;" src="../addons/jy_ppp/images/detailui2.png" bigimg="../addons/jy_ppp/images/detailui2.png" alt="风格二">
					        <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
					         风格二
					        </span>
					      <div class="radio">
					        <label>
					          <input type="radio" class="theRadio2" name="detail_style" value="1" {if !empty($item['detail_style']) && $item['detail_style']==1} checked="checked"{/if}>
					          选择
					        </label>
					      </div>
					    </span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">信息提醒ui风格</label>
					<div class="col-sm-7 col-xs-12">
						<span class="thumbnail late3" style="text-align:center;width:140px;display:inline-block;cursor:pointer;margin-right:20px" title="风格一">
					      <img  class="imgtip" style="height:100px;overflow:hidden;" src="../addons/jy_ppp/images/tishiui1.png" bigimg="../addons/jy_ppp/images/tishiui1.png" alt="风格一">
					        <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
					         风格一
					        </span>
					      <div class="radio">
					        <label>
					          <input type="radio" class="theRadio3" name="mail_style" value="0" {if empty($item['mail_style'])} checked="checked"{/if}>
					          选择
					        </label>
					      </div>
					    </span>

					    <span class="thumbnail late3" style="text-align:center;width:140px;display:inline-block;cursor:pointer" title="风格二">
					      <img  class="imgtip" style="height:100px;overflow:hidden;" src="../addons/jy_ppp/images/tishiui2.png" bigimg="../addons/jy_ppp/images/tishiui2.png" alt="风格二">
					        <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
					         风格二
					        </span>
					      <div class="radio">
					        <label>
					          <input type="radio" class="theRadio3" name="mail_style" value="1" {if !empty($item['mail_style']) && $item['mail_style']==1} checked="checked"{/if}>
					          选择
					        </label>
					      </div>
					    </span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">充值提醒ui风格</label>
					<div class="col-sm-7 col-xs-12">
						<span class="thumbnail late4" style="text-align:center;width:140px;display:inline-block;cursor:pointer;margin-right:20px" title="风格一">
					      <img  class="imgtip" style="height:100px;overflow:hidden;" src="../addons/jy_ppp/images/czdh1.png" bigimg="../addons/jy_ppp/images/czdh1.png" alt="风格一">
					        <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
					         风格一
					        </span>
					      <div class="radio">
					        <label>
					          <input type="radio" class="theRadio4" name="czdh_style" value="0" {if empty($item['czdh_style'])} checked="checked"{/if}>
					          选择
					        </label>
					      </div>
					    </span>

					    <span class="thumbnail late4" style="text-align:center;width:140px;display:inline-block;cursor:pointer" title="风格二">
					      <img  class="imgtip" style="height:100px;overflow:hidden;" src="../addons/jy_ppp/images/czdh2.png" bigimg="../addons/jy_ppp/images/czdh2.png" alt="风格二">
					        <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
					         风格二
					        </span>
					      <div class="radio">
					        <label>
					          <input type="radio" class="theRadio4" name="czdh_style" value="1" {if !empty($item['czdh_style']) && $item['czdh_style']==1} checked="checked"{/if}>
					          选择
					        </label>
					      </div>
					    </span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">聊天页风格</label>
					<div class="col-sm-7 col-xs-12">
						<label for="enabled98" class="checkbox-inline"><input type="radio" name="chatui_style" value="0" id="enabled98"  {if empty($item['chatui_style'])} checked="true" {/if} /> 有表情</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <label for="enabled99" class="checkbox-inline"><input type="radio" name="chatui_style" value="1" id="enabled99" {if !empty($item['chatui_style']) && $item['chatui_style']==1} checked="true" {/if}  /> 无表情</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <br>
	                    <label>无表情的不但会改变聊天的方式，还会影响部分页面的ui样式</label>
					</div>
				</div>


				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">用户地址显示格式</label>
					<div class="col-sm-7 col-xs-12">
						<label for="enabled34" class="checkbox-inline"><input type="radio" name="user_addr" value="0" id="enabled34"  {if empty($item['user_addr'])} checked="true" {/if} /> 省市</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <label for="enabled35" class="checkbox-inline"><input type="radio" name="user_addr" value="1" id="enabled35" {if !empty($item['user_addr']) && $item['user_addr']==1} checked="true" {/if}  /> 省</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <label for="enabled33" class="checkbox-inline"><input type="radio" name="user_addr" value="2" id="enabled33" {if !empty($item['user_addr']) && $item['user_addr']==2} checked="true" {/if}  /> 市</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <br>
	                    <label>省市效果为广东省广州市，省效果为广东省，市效果为广州市</label>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">详情页用qq和微信诱惑用户充值</label>
					<div class="col-sm-7 col-xs-12">
						<label for="enabled31" class="checkbox-inline"><input type="radio" name="youhuo_pay" value="0" id="enabled31"  {if empty($item['youhuo_pay'])} checked="true" {/if} /> 关闭</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <label for="enabled32" class="checkbox-inline"><input type="radio" name="youhuo_pay" value="1" id="enabled32" {if !empty($item['youhuo_pay']) && $item['youhuo_pay']==1} checked="true" {/if}  /> 开启</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <br>
	                    <label>是否开启详情页用qq和微信诱惑用户充值</label>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">悬浮信件提示</label>
					<div class="col-sm-7 col-xs-12">
						<label for="enabled28" class="checkbox-inline"><input type="radio" name="mail_float" value="0" id="enabled28"  {if empty($item['mail_float'])} checked="true" {/if} /> 关闭</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <label for="enabled29" class="checkbox-inline"><input type="radio" name="mail_float" value="1" id="enabled29" {if !empty($item['mail_float']) && $item['mail_float']==1} checked="true" {/if}  /> 开启</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <br>
	                    <label>是否开启悬浮信件提示</label>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">首页和附近页数据查找方式</label>
					<div class="col-sm-7 col-xs-12">
						<label for="enabled26" class="checkbox-inline"><input type="radio" name="sql_style" value="0" id="enabled26"  {if empty($item['sql_style'])} checked="true" {/if} /> 以真实用户居多</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <label for="enabled27" class="checkbox-inline"><input type="radio" name="sql_style" value="1" id="enabled27" {if !empty($item['sql_style']) && $item['sql_style']==1} checked="true" {/if}  /> 以虚拟用户居多（并首页和附近页经常没有数据）</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <br>
	                    <label><span style="color:#F78AA9;font-weight:bold">当选择以虚拟用户居多时，可能会增加数据运算量，请根据实际情况使用</span></label>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否开启虚拟充值话费功能</label>
					<div class="col-sm-7 col-xs-12">
						<label for="enabled24" class="checkbox-inline"><input type="radio" name="huafei" value="0" id="enabled24"  {if empty($item['huafei'])} checked="true" {/if} /> 关闭</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <label for="enabled25" class="checkbox-inline"><input type="radio" name="huafei" value="1" id="enabled25" {if !empty($item['huafei']) && $item['huafei']==1} checked="true" {/if}  /> 开启</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <br>
	                    <label><span style="color:#F78AA9;font-weight:bold">并没有真正返还话费，只是刺激用户充值</span></label>
					</div>
				</div>




				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">充值话费banner设置</label>
					<div class="col-sm-7 col-xs-12">
						{php echo tpl_form_field_image('huafei_thumb', tomedia($item['huafei_thumb']));}
						<span style="color:#F78AA9;">必须得开启虚拟充值话费功能</span></label>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否隐藏未设置价格的充值项目</label>
					<div class="col-sm-7 col-xs-12">
						<label for="enabled18" class="checkbox-inline"><input type="radio" name="cz_style" value="0" id="enabled18"  {if empty($item['cz_style'])} checked="true" {/if} /> 不开启</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <label for="enabled19" class="checkbox-inline"><input type="radio" name="cz_style" value="1" id="enabled19" {if !empty($item['cz_style']) && $item['cz_style']==1} checked="true" {/if}  /> 开启</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <br>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">统计分析中首页是否显示图表</label>
					<div class="col-sm-7 col-xs-12">
						<label for="enabled22" class="checkbox-inline"><input type="radio" name="stat_style" value="0" id="enabled22"  {if empty($item['stat_style'])} checked="true" {/if} /> 不显示</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <label for="enabled23" class="checkbox-inline"><input type="radio" name="stat_style" value="1" id="enabled23" {if !empty($item['stat_style']) && $item['stat_style']==1} checked="true" {/if}  /> 显示</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <br>
	                    <label><span >当用户平台数据量过大时，可能统计分析首页加载不出来，此时即可关闭图表功能</span></label>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否需要注册</label>
					<div class="col-sm-7 col-xs-12">
						<label for="enabled36" class="checkbox-inline"><input type="radio" name="unzhuce" value="0" id="enabled36"  {if empty($item['unzhuce'])} checked="true" {/if} /> 需要注册</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <label for="enabled37" class="checkbox-inline"><input type="radio" name="unzhuce" value="1" id="enabled37" {if !empty($item['unzhuce']) && $item['unzhuce']==1} checked="true" {/if}  /> 无需注册</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <br>
	                    <label>开启无需注册后，系统直接生成新用户数据，性别为用户微信里设定的性别(仅对微信段有效)</label>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否开启回复后回复库功能</label>
					<div class="col-sm-7 col-xs-12">
						<label for="enabled81" class="checkbox-inline"><input type="radio" name="cz_send_style" value="0" id="enabled81"  {if empty($item['cz_send_style'])} checked="true" {/if} /> 关闭</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <label for="enabled82" class="checkbox-inline"><input type="radio" name="cz_send_style" value="1" id="enabled82" {if !empty($item['cz_send_style']) && $item['cz_send_style']==1} checked="true" {/if}  /> 开启</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <br>
	                    <label style="color:#F78AA9;font-weight:bold">开启该功能后，当用户回复后，再与虚拟用户进行聊天时，即将直接调用回复后回复库的内容，并且只会回复一次或一个组合。这样的好处在于，回复库的内容更多侧重于吸引用户和你聊天，回复后回复库内容更多是规避和你不断的线上聊天（比如：我很少在平台上在线，要不你给下我你的微信吧~），这样一是会比较真实，二也会降低服务器数据库的负担，三也会避免一个虚拟用户用两个回复库里面的语音和客户聊天</label>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">聊天机制</label>
					<div class="col-sm-7 col-xs-12">
						<label for="enabled86" class="checkbox-inline"><input type="radio" name="chat_style" value="0" id="enabled86"  {if empty($item['chat_style'])} checked="true" {/if} /> 一天和每个用户都可以免费聊天一次</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <label for="enabled87" class="checkbox-inline"><input type="radio" name="chat_style" value="1" id="enabled87" {if !empty($item['chat_style']) && $item['chat_style']==1} checked="true" {/if}  /> 一天和平台所有用户只能免费聊天一次</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <br>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">推广员佣金比例</label>
					<div class="col-sm-7 col-xs-12">
						<div class="input-group">
							<div class="input-group-addon">直接销售</div>
							<input type="text" name="tgy_sale" class="form-control" value="{$item['tgy_sale']}">
							<div class="input-group-addon">%</div>
							<div class="input-group-addon">上级抽佣</div>
							<input type="text" name="tgy_parent" class="form-control" value="{$item['tgy_parent']}">
							<div class="input-group-addon">%</div>
						</div>
						<div class="help-block">注：如果是某推广员直接推广给用户，用户进行了充值，则他自己可以领取直接销售的抽佣，如果他有上级的推广员，则他的上级可以领取上级抽佣</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">扣量设置</label>
					<div class="col-sm-7 col-xs-12">
						<div class="input-group">
							<div class="input-group-addon">当推广员直接销售了</div>
							<input type="text" name="tgy_kl_num" class="form-control" value="{$item['tgy_kl_num']}">
							<div class="input-group-addon">人进行充值</div>
							<div class="input-group-addon">系统自动扣量</div>
							<input type="text" name="tgy_kl_per" class="form-control" value="{$item['tgy_kl_per']}">
							<div class="input-group-addon">%</div>
						</div>
						<div class="help-block">例：如果直接销售人设定为10人，扣量10%；则某推广员直接推广用户进行充值共计10个用户充值后，以后每有十个用户充值了同样的金额（比如50.100），则会扣掉10%（即1人）的充值记录，也就是他只会拿到9个人的佣金。（根据平台的实际情况而定，建议直接销售人设定大于10，扣量值尽量为10的倍数【例：10，20】，这样能更高效的进行扣除）</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">推广员新手指南</label>
					<div class="col-sm-7 col-xs-12">
						{php echo tpl_ueditor('tgy_rule',$tgy_rule['content'])}
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">推广员最小提现额</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="tgy_min" class="form-control"
							   value="{$item['tgy_min']}" />
					</div>
				</div>


				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">用户地址显示格式</label>
					<div class="col-sm-7 col-xs-12">
						<label for="enabled94" class="checkbox-inline"><input type="radio" name="dw_style" value="0" id="enabled94"  {if empty($item['dw_style'])} checked="true" {/if} /> IP定位</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <label for="enabled95" class="checkbox-inline"><input type="radio" name="dw_style" value="1" id="enabled95" {if !empty($item['dw_style']) && $item['dw_style']==1} checked="true" {/if}  /> 微信定位</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <br>
					</div>
				<!--</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否开启云支付</label>
					<div class="col-sm-7 col-xs-12">
								<label for="enabled94" class="checkbox-inline"><input type="radio" name="dw_yunpay" value="1"  {if !empty($item['dw_yunpay']) && $item['dw_yunpay']==1} checked="true" {/if}  /> 开启</label>
								&nbsp;&nbsp;&nbsp;
								<label for="enabled95" class="checkbox-inline"><input type="radio" name="dw_yunpay" value="0"  {if empty($item['dw_yunpay'])} checked="true" {/if} /> 关闭</label>
								&nbsp;&nbsp;&nbsp;
								<br>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">云支付PID</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="partner" class="form-control"
								 value="{$item['partner']}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">云支付账号（邮箱）</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="seller_email" class="form-control"
								 value="{$item['seller_email']}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">云支key</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="dw_yunpaykey" class="form-control"
								 value="{$item['dw_yunpaykey']}" />
					</div>-->
				</div>


				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
					<div class="col-sm-9 col-xs-12">
						<input name="submit" type="submit" value="提交" class="btn btn-primary span3">
						<input type="hidden" name="token" value="{$_W['token']}" />
					</div>
				</div>

			</div>
		</div>

	</form>
</div>
<script src="../addons/jy_ppp/js/area_id.js"></script>
<script>

$(".late1").bind("click",function(){
	var index = $(this).index();
	$(".theRadio").eq(index).prop('checked', true);
});

$(".late2").bind("click",function(){
	var index = $(this).index();
	$(".theRadio2").eq(index).prop('checked', true);
});

$(".late3").bind("click",function(){
	var index = $(this).index();
	$(".theRadio3").eq(index).prop('checked', true);
});

$(".late4").bind("click",function(){
	var index = $(this).index();
	$(".theRadio4").eq(index).prop('checked', true);
});

{if empty($item['province'])}
	for(var i in area_array){
	    $("#live_province").append('<option value="'+ i+'">'+ area_array[i]+'</option>');
	}
{else}
	for(var i in area_array){
        if({$item['province']}==i)
        {
            $("#live_province").append('<option value="'+ i+'" selected>'+ area_array[i]+'</option>');
        }
        else
        {
            $("#live_province").append('<option value="'+ i+'">'+ area_array[i]+'</option>');
        }
    }
{/if}

$("#live_city").empty();
{if empty($item['city'])}
	{if empty($item['province'])}
		{php $item['province']=11;}
	{/if}
    for(var i in sub_array[{$item['province']}]){
        $("#live_city").append('<option value="'+ i+'">'+ sub_array[{$item['province']}][i]+'</option>');
    }
{else}
    for(var i in sub_array[{$item['province']}]){
        if({$item['city']}==i)
        {
            $("#live_city").append('<option value="'+ i+'" selected>'+ sub_array[{$item['province']}][i]+'</option>');
        }
        else
        {
            $("#live_city").append('<option value="'+ i+'">'+ sub_array[{$item['province']}][i]+'</option>');
        }
    }
{/if}

$("#live_province").bind("change",function(){
    var p=$("#live_province").eq(0).val();
    $("#live_city").empty();
    $("#live_city").append('<option value="0">请选择城市</option>');
    for(var i in sub_array[p]){
        $("#live_city").append('<option value="'+ i+'">'+ sub_array[p][i]+'</option>');
    }
});

require(['jquery', 'util'], function($, u){
	$(function(){
		u.editor($('#rule')[0]);
	});
});

function sms_change()
{
	$("#sms_product").show();
	$("#sms_sign").show();
	$("#sms_username").show();
	$("#sms_pwd").show();
}

function sms_change1()
{
	$("#sms_product").hide();
	$("#sms_sign").hide();
	$("#sms_username").show();
	$("#sms_pwd").show();
}

function sms_change2()
{
	$("#sms_product").hide();
	$("#sms_sign").hide();
	$("#sms_username").hide();
	$("#sms_pwd").hide();
}

$(function () {

	{if $item['sms_type']==1}
		$("#sms_product").hide();
		$("#sms_sign").hide();
	{/if}

	{if $item['sms_type']==2}
		$("#sms_product").hide();
		$("#sms_sign").hide();
		$("#sms_username").hide();
		$("#sms_pwd").hide();
	{/if}

});
</script>
